<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tax Collector</title>
    <link rel="icon" href="~/images/itaps.png" type="image/x-icon" />
    <meta name="robots" content="noindex">
    <!-- Simplebar -->
    <link type="text/css" href="~/vendor/simplebar.min.css" rel="stylesheet">
    <!-- App CSS -->
    <link type="text/css" href="~/css/app.css" rel="stylesheet">
    <link type="text/css" href="~/css/app.rtl.css" rel="stylesheet">
    <!-- Material Design Icons -->
    <link type="text/css" href="~/css/vendor-material-icons.css" rel="stylesheet">
    <link type="text/css" href="~/css/vendor-material-icons.rtl.css" rel="stylesheet">
    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="~/css/vendor-fontawesome-free.css" rel="stylesheet">
    <link type="text/css" href="~/css/vendor-fontawesome-free.rtl.css" rel="stylesheet">
    <!-- Flatpickr -->
    <link type="text/css" href="~/css/vendor-flatpickr.css" rel="stylesheet">
    <link type="text/css" href="~/css/vendor-flatpickr.rtl.css" rel="stylesheet">
    <link type="text/css" href="~/css/vendor-flatpickr-airbnb.css" rel="stylesheet">
    <link type="text/css" href="~/css/vendor-flatpickr-airbnb.rtl.css" rel="stylesheet">
    <!-- Vector Maps -->
    <link type="text/css" href="~/vendor/jqvmap/jqvmap.min.css" rel="stylesheet">
    <link href="~/css/Itaps-custom.css" rel="stylesheet" />
    <!-- Kendo -->
    <link href="~/kendo/css/kendo.default.min.css" rel="stylesheet" />
    <link href="~/kendo/css/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="~/kendo/css/kendo.default.mobile.min.css" rel="stylesheet" />
    <link href="~/kendo/css/kendo.common.min.css" rel="stylesheet" />
    <!--Loader and Toastr-->
    <link href="~/css/showLoading.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <link href="~/css/toastr.css" rel="stylesheet" />

    <style>
        select {
            width: 100% !important;
        }

        label > span {
            color: black !important;
        }
    </style>

    @RenderSection("css", required: false)
</head>

<body class="layout-default">
    <input id="userId" value="@ViewBag.UserId" hidden />

    <div class="preloader"></div>

    <div class="mdk-header-layout js-mdk-header-layout">
        <!--    Header  -->
        <div id="header" class="mdk-header js-mdk-header m-0" data-fixed>
            <div class="mdk-header__content">

                <div class="navbar navbar-expand-sm navbar-main navbar-dark bg-dark  pr-0" id="navbar" data-primary>
                    <div class="container-fluid p-0">
                        <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button" data-toggle="sidebar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a href="~/home" class="navbar-brand ">
                            <span>TAX COLLECTOR ADMIN</span>
                        </a>
                        <ul class="nav navbar-nav d-none d-sm-flex navbar-height align-items-center">
                            @*<li class="nav-item border-left dropdown">
                                    <a href="#notifications_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                                        <i class="material-icons nav-icon navbar-notifications-indicator">notifications</i>
                                    </a>
                                    <div id="notification_menu" class="dropdown-menu dropdown-menu-right">
                                        <div id="NotificationItems">
                                            @for (var i = 0; i < 10; i++)
                                            {
                                                <div class="dropdown-item-text dropdown-item-text--lh">
                                                    <span class="text-secondary" id="NotificationTitle">PIT</span>
                                                    <span class="text-dark-gray" id="NotificationMessage">Message brief decription</span>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                            }
                                        </div>
                                        <div class="col-md-12 py-0 px-1 m-0">
                                            <a class="btn btn-xs btn-default" asp-controller="Home" asp-action="Logout" style="color: orangered" id="viewAllNotifications">Close</a>
                                            <a class="btn btn-xs btn-default float-right" asp-controller="Home" asp-action="Logout" id="viewAllNotifications">View All</a>
                                        </div>
                                    </div>
                                </li>*@
                            <li class="nav-item border-left dropdown">
                                <a href="#account_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                                    <img src="~/images/icons/user.svg" class="rounded-circle" width="32" alt="">
                                    <span class="ml-1 d-flex-inline">
                                        <span class="text-light">
                                            Hello, <span class="UserFirstName">@ViewBag.UserName</span>
                                        </span>
                                    </span>
                                </a>
                                <div id="account_menu" class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-item-text dropdown-item-text--lh">
                                        <div><strong class="UserFullName" id="UserFullName">@ViewBag.FullName</strong></div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item active" href="~/home">Dashboard</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Logout" style="color: orangered">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="mdk-header-layout__content">
            <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
                <div class="mdk-drawer-layout__content page">

                    <div class="container-fluid page__heading-container">
                        <div class="page__heading d-flex align-items-center">
                            <div class="flex">
                                <div class="row">
                                    <div class="col-md-9">
                                        <span class="m-0" style="font-size: 1.540625rem">
                                            <span id="pgHeader"></span>
                                        </span>
                                    </div>
                                    <div class="col-md-3">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb mb-0 float-right">
                                                <li title="Bread Crumb"><span id="pageLoc" style="font-weight: 600"></span></li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid page__container">
                        @Html.AntiForgeryToken()

                        <!-- Contents go here -->
                        @RenderBody()
                    </div>

                </div>

                <div class="mdk-drawer  js-mdk-drawer" id="default-drawer" data-align="start">
                    <div class="mdk-drawer__content">
                        <div class="sidebar sidebar-light sidebar-left simplebar" data-simplebar>
                            <div class="sidebar-heading sidebar-m-t">Menu</div>
                            <ul class="sidebar-menu">

                                <!-- HOME -->
                                <li class="sidebar-menu-item home">
                                    <a class="sidebar-menu-button" href="~/home">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">home</i>
                                        <span class="sidebar-menu-text">Home</span>
                                    </a>
                                </li>

                                <!-- CREATE ACCOUNT -->
                                <li class="sidebar-menu-item applications">
                                    <a class="sidebar-menu-button" data-toggle="collapse" href="#ACCOUNTS_menu">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_balance_wallet</i>
                                        <span class="sidebar-menu-text">Account</span>
                                        <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                    </a>
                                    <ul class="sidebar-submenu collapse" id="ACCOUNTS_menu">
                                        <li class="sidebar-menu-item tcc">
                                            <a class="sidebar-menu-button" href="~/account/accounts">
                                                <span class="sidebar-menu-text">Accounts</span>
                                            </a>
                                        </li>
                                        <li class="sidebar-menu-item whte">
                                            <a class="sidebar-menu-button" href="~/account/createaccount">
                                                <span class="sidebar-menu-text">Create Account</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- LICENSING -->
                                <li class="sidebar-menu-item applications">
                                    <a class="sidebar-menu-button" href="~/account/licensing">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_balance_wallet</i>
                                        <span class="sidebar-menu-text">Licensing</span>
                                    </a>
                                </li>

                                <!-- USER GROUPS -->
                                <li class="sidebar-menu-item applications">
                                    <a class="sidebar-menu-button" data-toggle="collapse" href="#APPLICATIONS_menu">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_balance_wallet</i>
                                        <span class="sidebar-menu-text">User Groups</span>
                                    </a>
                                </li>

                                <!-- DEVICES -->
                                <li class="sidebar-menu-item applications">
                                    <a class="sidebar-menu-button" data-toggle="collapse" href="#APPLICATIONS_menu">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_balance_wallet</i>
                                        <span class="sidebar-menu-text">Devices</span>
                                        <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                    </a>
                                    <ul class="sidebar-submenu collapse" id="APPLICATIONS_menu">
                                        <li class="sidebar-menu-item tcc">
                                            <a class="sidebar-menu-button" href="~/device/devices">
                                                <span class="sidebar-menu-text">Devices</span>
                                            </a>
                                        </li>
                                        <li class="sidebar-menu-item whte">
                                            <a class="sidebar-menu-button" href="~/device/createdevice">
                                                <span class="sidebar-menu-text">Create Device</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/vendor/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendor/popper.min.js"></script>
    <script src="~/vendor/bootstrap.min.js"></script>
    <!-- Simplebar -->
    <script src="~/vendor/simplebar.min.js"></script>
    <!-- DOM Factory -->
    <script src="~/vendor/dom-factory.js"></script>
    <!-- MDK -->
    <script src="~/vendor/material-design-kit.js"></script>
    <!-- App -->
    <script src="~/js/toggle-check-all.js"></script>
    <script src="~/js/check-selected-row.js"></script>
    <script src="~/js/dropdown.js"></script>
    <script src="~/js/sidebar-mini.js"></script>
    <!--Template-->
    <script src="~/js/template-bootstrapper.js"></script>
    <!-- App Settings (safe to remove) -->
    <script src="~/js/app-settings.js"></script>
    <!-- Flatpickr -->
    <script src="~/vendor/flatpickr/flatpickr.min.js"></script>
    <script src="~/js/flatpickr.js"></script>
    <!-- Global Settings -->
    <script src="~/js/settings.js"></script>
    <!-- Chart.js -->
    <script src="~/vendor/Chart.min.js"></script>
    <!-- App Charts JS -->
    <script src="~/js/charts.js"></script>
    <!-- Vector Maps -->
    <script src="~/vendor/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="~/js/vector-maps.js"></script>
    <!-- Kendo JS -->
    <script src="~/kendo/js/kendo.web.min.js"></script>
    <script src="~/kendo/js/knockout-3.1.0.js"></script>
    <script src="~/kendo/js/knockout-kendo.min.js"></script>
    <!--Loader-->
    <script src="~/js/jquery.showLoading.min.js"></script>
    <!--Toastr-->
    <script src="~/js/toastr.min.js"></script>

    @RenderSection("modals", required: false)
    @RenderSection("scripts", required: false)

</body>
</html>
